# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
generated_plugin_registrant.dart
generated_plugin_registrant.cc
generated_plugin_registrant.h
.melos_tool/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android specific
/android/app/debug
/android/app/profile
/android/app/release
**/android/.gradle/
**/android/local.properties
**/android/.idea/
**/android/captures/
/android/key.properties

# Xcode / iOS specific
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
Profile
DerivedData/
.idea/

# Web specific
/web/generated/
web/.dart_tool/
/web/.idea/

# Linux / Windows / macOS build folders
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
windows/runner/generated_plugin_registrant.cc
windows/runner/generated_plugin_registrant.h

# JSON to Dart Model Generator
/json_models/
models.jsonc

# Firebase / Google services (не класть в гит, чувствительные данные)
google-services.json
GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Other tools
*.tmproj
*.bak
*.orig
*.rej
*.tmp

# IDEs & Tools general
*.sublime-workspace
*.sublime-project
*.code-workspace

# Backup files
*~
